{% extends 'base.html.twig' %}

{% if mediaList.archived == true %}
    {% set title %}
        {{ mediaList.title }}<span style="font-size:.75em">, {{ mediaList.type == 0 ? 'playlist ' : 'chaîne ' }} archivée</span>
    {% endset %}
{% else %}
    {% set title %}
        {{ mediaList.title }}<span style="font-size:.75em">, {{ mediaList.type == 0 ? 'playlist ' : 'chaîne ' }} active</span>
    {% endset %}
{% endif %}

{% set page_title %} {{ mediaList.title }}{% endset %}
{% block title %} {{ title }}{% endblock %}

{% block body %}

    <h2>{{ title }}</h2>

    {% if mediaList is not empty %}

        <div class="grid">

            <article class="mediaList-poster-container">
                <img src="{{ asset('downloaded/posters/' ~ mediaList.title ~ '.jpg') }}"
                     onerror="this.onerror=null; this.src='{{ asset('downloaded/default-poster.jpg') }}';"
                     class="mediaList-poster mediaList-poster-shadowed"
                     alt="Poster de {{ mediaList.title }}"
                />

                {% if mediaList.lastUpdateResult is same as(true) %}
                    {% set healthColor = 'green-400' %}
                    {% set healthText = 'GOOD' %}
                    {% set resultText = ' avec succès'  %}
                {% elseif mediaList.lastUpdateResult is same as(false) %}
                    {% set healthColor = 'red-400' %}
                    {% set healthText = 'BAD' %}
                    {% set resultText = ' mais a échoué !' %}
                {% elseif mediaList.lastUpdateResult is null %}
                    {% set healthColor = 'amber-300' %}
                    {% set healthText = 'UNKNOWN' %}
                {% endif %}

                <blockquote class="pico-color-{{ healthColor }}">
                    <b>{{ healthText }} HEALTH </b>
                </blockquote>
                {% if mediaList.scanStatus == 'en cours' %}
                    <h4 aria-busy="true">Scan en cours</h4>
                    <a href="{{ path('show.mediaList', {id: mediaList.id}) }}" role="button">
                        Actualiser la page
                    </a>
                {% endif %}
            </article>
            <article>
                <h3>Caractéristiques :</h3>
                <ul class="carac-sett-list">
                    <li>Url : <a href="{{ mediaList.url }}" target="_blank">{{ mediaList.url }}</a>&#8599;</li>
                    <li>Contient {{ mediaList.totalMedias }} vidéo{{ mediaList.totalMedias > 1 ? 's' : '' }}</li>
                    <li>Dernier scan : <br>
                        {% if mediaList.scanStatus == 'en cours' %}
                            <strong>{{ mediaList.scanStatus }}</strong>
                        {% else %}
                            {{ mediaList.updatedAt is null ? 'Jamais fait' : 'Fait le ' ~ mediaList.updatedAt|date("j F Y à H\\hi") ~ resultText }}
                        {% endif %}
                    </li>
                    <li style="margin-top:.5em">{{ mediaList.downloadedVideos }} vidéos ont été téléchargées</li>
                    <li>{{ mediaList.deletedVideos }} vidéos ont été supprimées</li>
                    <li>Dernier téléchargement : <br>
                        Jamais fait.
                    </li>
                </ul>
                <h3>Réglages :</h3>
                <ul class="carac-sett-list">
                    <li>Téléchargement des {{ mediaList.xLastVideos }} dernières vidéos</li>
                    <li>
                        {{ mediaList.deleteAfter > 0 ? mediaList.deleteAfter > 1 ? 'Supprimer les vidéos téléchargées après ' ~ mediaList.deleteAfter ~ ' jours' : 'Supprimer les vidéos téléchargées après ' ~ mediaList.deleteAfter ~ ' jour' : 'Les vidéos ne sont jamais supprimées' }}
                    </li>
                    <li>Cronjob : {{ mediaList.cronjob }}</li>
                    <li>Qualité : {{ mediaList.quality > 0 ? mediaList.quality ~ '/3' : 'Audio seulement' }}</li>
                    <li>Chemin de téléchargement : {{ mediaList.path }}</li>
                </ul>
                <a href="#" role="button">
                    Scanner
                </a>
                <a href="{{ path('edit.mediaList', {id: mediaList.id}) }}" role="button">
                    Modifier
                </a>
                <button class="secondary" data-target="modal-archive" onclick="toggleModal(event)">
                    {{ mediaList.archived == 'true' ? 'Activer' : 'Archiver' }}
                </button>
                <button class="contrast" data-target="modal-delete" onclick="toggleModal(event)">
                    Supprimer
                </button>
                <a class="outline" style="margin-top:1em" href="{{  mediaList.archived == 'true' ? path('index.archived') : path('index') }}" role="button">
                    Revenir {{ mediaList.archived == 'true' ? 'aux archives' : 'à l\'index' }}
                </a>
            </article>
            <article>
                <h3>Liste des vidéos : {{ mediaList.scanStatus == 'en cours' ? '&nbsp<span aria-busy="true"></span><span style="font-size: .75em">&nbspScan en cours</span>' : '' }}</h3>

                <table id="index-videos">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Upload</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for media in medias %}
                        <tr>
                            <td><a href="{{ path('show.media', {id: media.id}) }}">{{ media.title }}</a></td>
                            <td><a href="{{ path('show.media', {id: media.id}) }}">{{ media.uploadDate|date('Y-m-d')|default('Inconnue') }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>

        </div>


        <!-- --------------------------- Modales --------------------------- -->

        <dialog id="modal-archive">
            <article>
                <header>
                    <button aria-label="Close" rel="prev" data-target="modal-archive" onclick="toggleModal(event)"></button>
                    <h3>Confirmer {{ mediaList.archived == 'true' ? 'l\'activation' : 'l\'archivage' }} ?</h3>
                </header>
                <p>
                    Cras sit amet maximus risus. Pellentesque sodales odio sit amet augue finibus
                    pellentesque. Nullam finibus risus non semper euismod.
                </p>
                <footer>
                    <button role="button" class="secondary" data-target="modal-archive" onclick="toggleModal(event)">
                        Annuler
                    </button>
                    <button autofocus="" data-target="modal-archive">
                        <a href="{{ path('arch.mediaList', {id: mediaList.id}) }}">Confirmer</a>
                    </button>
                </footer>
            </article>
        </dialog>

        <dialog id="modal-delete">
            <article>
                <header>
                    <button aria-label="Close" rel="prev" data-target="modal-delete" onclick="toggleModal(event)"></button>
                    <h3>Confirmer la suppression ?</h3>
                </header>
                <p>
                    Cras sit amet maximus risus. Pellentesque sodales odio sit amet augue finibus
                    pellentesque. Nullam finibus risus non semper euismod.
                </p>
                <footer>
                    <button role="button" class="secondary" data-target="modal-delete" onclick="toggleModal(event)">
                        Annuler
                    </button>
                    <button autofocus="" data-target="modal-delete">
                        <a href="{{ path('delete.mediaList', {id: mediaList.id}) }}">Confirmer</a>
                    </button>
                </footer>
            </article>
        </dialog>

        <script>
            $(document).ready(function () {
                $('#index-videos').DataTable({
                    responsive: true,
                    pageLength: 10,
                    lengthChange: false,
                    order: [[1, 'desc']],
                    layout: {
                        bottomEnd: {
                            paging: {
                                numbers:false
                            }
                        }
                    },
                    language: {
                        info: "_TOTAL_ entrée(s)",
                        infoEmpty: "Aucune entrée",
                        infoFiltered: ""
                    },
                    columnDefs: [
                        { width: "90%", targets: 0 },
                        { width: "10%", targets: 1 },
                    ]
                });
            });
        </script>


        <script>
            //MODALES
            const isOpenClass = "modal-is-open";
            const openingClass = "modal-is-opening";
            const closingClass = "modal-is-closing";
            const scrollbarWidthCssVar = "--pico-scrollbar-width";
            const animationDuration = 400; // ms
            let visibleModal = null;

            // Toggle modal
            const toggleModal = (event) => {
                event.preventDefault();
                const modal = document.getElementById(event.currentTarget.dataset.target);
                if (!modal) return;
                modal && (modal.open ? closeModal(modal) : openModal(modal));
            };
        </script>
        <script src="{{ asset('js/pico/modal.js') }}"></script>



    {% else %}
        <p>Vide</p>
    {% endif %}

{% endblock %}
